<!DOCTYPE html>
<html>
  <head>
    <title>图片展示</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src=../../public/images/<%= title%> />
  </body>
</html>
