<!DOCTYPE html>
<html>
  <head>
    <title>用户</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>用户列表</h1>
    <% for(var i=0;i<title.length;i++) { %>
        <p>用户名 : <%= title[i].username %> | 密码 : <%= title[i].password %></p>
    <% } %>
  </body>
</html>
