body {
  font-family: Arial, 'Microsoft Yahei', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #f3f3f9;
  color: #333;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

ul,
p,
form {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

input,
select,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
